* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #fff;
	position: relative;
}

body {
	font-size: 15px;
	font-family: 'Josefin Sans', sans-serif;
}

header {
	background: url(../images/desktop/image-hero.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 70vh;
}

header section.cabecalho {
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 80px;
}

header .logo {
	margin-bottom: -6px;
	z-index: 1000;
}

/* ---------- Ajustes Menu ------------ */
header section nav.menu ul {
	display: flex;
}

header nav.menu ul li {
	margin-left: 30px;
}

header nav.menu ul li a:hover::before {
	content: '';
	position: absolute;
	top: 30px;
	left: 10px;
	width: 60%;
	height: 3px;
	background: #fff;
	text-align: center;
}

header .icon-hamburguer i {
	display: none;
}

/* ------------------------------------ */

header section.caixa-texto {
	height: calc(70vh - 75px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 80px;
}

header section div.caixa-texto-container {
	padding: 30px;
	border: 2px solid #fff;
	width: 40%;
	height: auto;
}

header section div.caixa-texto-container span {
	display: block;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
}

/* --------------------------------------------- */
/* Corpo principal da página */

main.content {
	padding: 100px 80px;
	height: auto;
}

main.content section.box-1 {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	background: url(../images/desktop/image-interactive.jpg) no-repeat;
	background-position: left bottom;
	height: 500px;
}

section.box-1 article.container-texto {
	background: #fff;
	width: 600px;
	height: 300px;
	padding: 0 60px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

section.box-1 article.container-texto h1 {
	font-size: 2.7em;
	text-transform: uppercase;
	margin-bottom: 20px;
}

section.box-1 article.container-texto p {
	font-size: 1em;
	font-family: 'Atala', sans-serif;
	line-height: 1.5em;
	letter-spacing: 2px;
	font-weight: 400;
	color: hsl(0, 0%, 41%);
}

main.content section.box-2 {
	margin-top: 50px;
	height: auto;
}

section.box-2 .head {
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section.box-2 .head h1 {
	text-transform: uppercase;
	font-size: 2em;
}

section.box-2 .head a,
section.box-2 a.mobile {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	display: inline-block;
	padding: 8px 30px;
	border: 1px solid black;
}

section.box-2 a.mobile {
	display: none;
}

section.box-2 .head a:hover {
	background: black;
	color: #fff;
}

section.box-2 .photos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 30px;
}

section.box-2 .photos div.grid {
	height: 400px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 20px;
}

section.box-2 .photos div.grid h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 2em;
}

section.box-2 .photos div.photo-1 {background: url(../images/desktop/image-deep-earth.jpg) no-repeat; background-size: cover;}
section.box-2 .photos div.photo-2 {background: url(../images/desktop/image-night-arcade.jpg) no-repeat; background-size: cover;}
section.box-2 .photos div.photo-3 {background: url(../images/desktop/image-soccer-team.jpg) no-repeat; background-size: cover;}
section.box-2 .photos div.photo-4 {background: url(../images/desktop/image-grid.jpg) no-repeat; background-size: cover;}
section.box-2 .photos div.photo-5 {background: url(../images/desktop/image-from-above.jpg) no-repeat; background-size: cover;}
section.box-2 .photos div.photo-6 {background: url(../images/desktop/image-pocket-borealis.jpg) no-repeat; background-size: cover;}
section.box-2 .photos div.photo-7 {background: url(../images/desktop/image-curiosity.jpg) no-repeat; background-size: cover;}
section.box-2 .photos div.photo-8 {background: url(../images/desktop/image-fisheye.jpg) no-repeat; background-size: cover;}


/* ----------------------------------------------*/
/* Footer */
footer.rodape {
	height: 150px;
	background: black;
	padding: 30px 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer.rodape nav ul {
	display: flex;
	flex-wrap: wrap;
}

footer.rodape .parte1, .parte2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80%;
}

footer.rodape nav ul li {
	margin-right: 50px;
}

footer.rodape nav ul li a {
	color: #fff;
}

footer.rodape .parte2 div.icons i {
	color: #fff;
	font-size: 2em;
	margin-left: 20px;
}

footer.rodape .parte2 div.attribution {
	color: hsl(0, 0%, 55%);
}

/* ----------------------------------------------*/

@media(max-width: 327px){
	header section div.caixa-texto-container {
		padding: 5px !important;
	}
}

@media(max-width: 768px){

	body {
		font-size: 14px;
	}

	/* Toggle */
	.hidden {
		overflow: hidden;
	}

	header {
		background: url(../images/mobile/image-hero.jpg) no-repeat;
		background-size: cover;
		height: 100vh;
	}

	header section.cabecalho {
		height: 100px;
		padding: 0 20px;
		align-items: center;
	}

	header .logo img {
		width: 130px;
	}

	/* ------- Ajustes menu ------- */

	header section nav.menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: black;
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0px;
		left: -100%;
		transition: 0.3s;
		z-index: 998;
	}

	header section nav.menu.active {
		left: 0px;
		transition: 0.3s;
	}

	header section nav.menu ul {
		display: block;
		margin-top: 100px;
	}

	header section nav.menu ul li {
		margin-bottom: 35px;
	}

	header section nav.menu ul li a {
		font-size: 1.6em;
		text-transform: uppercase;
	}

	header section .icon-hamburguer i.fas {
		position: absolute;
		top: 37px;
		right: 20px;
		display: block;
		font-size: 2em;
		color: #fff;
		cursor: pointer;
		z-index: 1000 !important;
	}

	/* --------------------------- */

	header section.caixa-texto {
		height: calc(100vh - 100px);
		align-items: center;
		padding: 0px;
	}

	header section div.caixa-texto-container {
		padding: 30px;
		border: 2px solid #fff;
		width: 90%;
	}

	header section div.caixa-texto-container span {
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: 300;
		color: #fff;
	}
	/* --------------------------------------------- */
	/* Corpo principal da página */

	main.content {
		padding: 70px 30px 20px 30px;
		height: auto;
	}

	main.content section.box-1 {
		background: url(../images/mobile/image-interactive.jpg) no-repeat;
		background-position: top center;
		background-size: 100%;
		justify-content: center;
	}

	section.box-1 article.container-texto {
		width: 100%;
		height: 250px;
		text-align: center;
		padding: 0;
	}

	section.box-1 article.container-texto h1 {
		font-size: 2em;
	}

	section.box-2 {
		text-align: center;
	}

	section.box-2 .head {
		justify-content: center;
	}

	section.box-2 .photos {
		display: block;
	}

	section.box-2 .photos div.grid {
		height: 120px;
		margin-bottom: 20px;
		width: 100%;
	}

	section.box-2 .photos div.photo-1 {background: url(../images/mobile/image-deep-earth.jpg) no-repeat; background-size: cover;}
	section.box-2 .photos div.photo-2 {background: url(../images/mobile/image-night-arcade.jpg) no-repeat; background-size: cover;}
	section.box-2 .photos div.photo-3 {background: url(../images/mobile/image-soccer-team.jpg) no-repeat; background-size: cover;}
	section.box-2 .photos div.photo-4 {background: url(../images/mobile/image-grid.jpg) no-repeat; background-size: cover;}
	section.box-2 .photos div.photo-5 {background: url(../images/mobile/image-from-above.jpg) no-repeat; background-size: cover;}
	section.box-2 .photos div.photo-6 {background: url(../images/mobile/image-pocket-borealis.jpg) no-repeat; background-size: cover;}
	section.box-2 .photos div.photo-7 {background: url(../images/mobile/image-curiosity.jpg) no-repeat; background-size: cover;}
	section.box-2 .photos div.photo-8 {background: url(../images/mobile/image-fisheye.jpg) no-repeat; background-size: cover;}

	section.box-2 .head a {
		display: none;
	}

	section.box-2 a.mobile {
		margin: 20px;
		display: inline-block;
	}

	/* ----------------------------------------------*/

	footer.rodape {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
		padding: 30px 10px;
	}

	footer.rodape nav ul {
		display: block;
		text-align: center;
	}

	footer.rodape nav ul li {
		margin: 20px 0;
	}

	footer.rodape .parte1, .parte2 {
		display: block;
	}

	footer.rodape .parte2 div.icons {
		width: 80%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	footer.rodape .parte2 div.attribution {
		text-align: center;
	}
}
